SS730 Communication Platform/Service References/EsitoInvioDatiSpesa730Service/EsitoInvioDatiSpesa730Service_schema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://esitoinvio.p730.sanita.sogei.it/" targetNamespace="http://esitoinvio.p730.sanita.sogei.it/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="EsitoInvii" type="tns:EsitoInvii" />
  <xs:element name="EsitoInviiResponse" type="tns:EsitoInviiResponse" />
  <xs:element name="Exception" type="tns:Exception" />
  <xs:element name="datiInput" type="tns:datiInput" />
  <xs:element name="datiOutput" type="tns:datiOutput" />
  <xs:complexType name="dettaglioEsitoNegativo">
    <xs:sequence>
      <xs:element name="codice" type="xs:string" />
      <xs:element name="descrizione" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="dettaglioEsitoPositivo">
    <xs:sequence>
      <xs:element name="protocollo" type="xs:string" />
      <xs:element name="dataInvio" type="xs:string" />
      <xs:element name="stato" type="xs:int" />
      <xs:element name="descrizione" type="xs:string" />
      <xs:element name="nInviati" type="xs:long" />
      <xs:element name="nAccolti" type="xs:long" />
      <xs:element name="nWarnings" type="xs:long" />
      <xs:element name="nErrori" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Exception">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="datiOutput">
    <xs:sequence>
      <xs:element name="esitoChiamata" type="xs:string" />
      <xs:element name="descrizioneEsito" type="xs:string" />
      <xs:element minOccurs="0" name="esitiPositivi" type="tns:esitiPositivi" />
      <xs:element minOccurs="0" name="esitiNegativi" type="tns:esitiNegativi" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="esitiPositivi">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="dettagliEsito" type="tns:dettaglioEsitoPositivo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="esitiNegativi">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="dettaglioEsitoNegativo" type="tns:dettaglioEsitoNegativo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="datiInput">
    <xs:sequence>
      <xs:element name="pinCode" type="xs:string" />
      <xs:element minOccurs="0" name="dataInizio" type="xs:string" />
      <xs:element minOccurs="0" name="dataFine" type="xs:string" />
      <xs:element minOccurs="0" name="protocollo" type="xs:string" />
      <xs:element minOccurs="0" name="opzionale1" type="xs:string" />
      <xs:element minOccurs="0" name="opzionale2" type="xs:string" />
      <xs:element minOccurs="0" name="opzionale3" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EsitoInviiResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="DatiOutputRichiesta" type="tns:datiOutput" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EsitoInvii">
    <xs:sequence>
      <xs:element minOccurs="0" name="DatiInputRichiesta" type="tns:datiInput" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>